/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Add this CSS to your stylesheets or create a new CSS file */
html, body, #root, .app-container {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background-color: var(--background-color, #ffffff);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Vertically center content */
  z-index: 1;
  font-size: 18px;
  width: 100%; /* Full width */
}

.slider-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Full width */
}

/* .app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
} */

.app-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.color-display {
  margin-top: 1rem;
}
